* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    height: 75px;
    align-items: center;
}

.list {
    margin-bottom: 10px;
}

#current {
    margin: 10px;
    border-radius: .25rem;
}

li {
    cursor: pointer;
}

.current-header {
    margin-top: 15px;
}

.current-header h3 {
    padding-left: 13px;
}

.uv-green {
    background-color: blue;
    color: white;
    border-radius: 4px;
    padding: 5px;
}

.uv-yellow {
    background-color: #faee11;
    color: black;
    border-radius: .25rem;
    padding: 5px;
}

.uv-red {
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 5px;
}

.day h5 {
    font-weight: bold;
}

#five-day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#five-day div {
    background-color: #007bff;
    color: white;
    border-radius: .25rem;
    padding: 10px;
}