* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    height: 75px;
    align-items: center;
}

.list {
    margin-bottom: 10px;
}

#current {
    margin: 10px;
}

#five-day {
    background-color: lightskyblue;
}

li {
    cursor: pointer;
}

.city-date {
    display: inline-block;
}

.uv-green {
    background-color: blue;
    color: white;
    border-radius: 4px;
    padding: 5px;
}

.uv-yellow {
    background-color: #faee11;
    color: black;
    border-radius: 4px;
    padding: 5px;
}

.uv-red {
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 5px;
}